<div class="search-container">
  <input 
    [(ngModel)]="searchTerm" 
    placeholder="Search for a card" 
    class="search-input" 
  />
  <button (click)="searchCard()" class="search-button">Search</button>
</div>

<nav class="nav-container">
  <ul class="nav-list">
    <li><button class="nav-button"><a routerLink="/card/Black Lotus">Black Lotus</a></button></li>
    <li><button class="nav-button"><a routerLink="/card/Rogue Elephant">Rogue Elephant</a></button></li>
    <li><button class="nav-button"><a routerLink="/card/Trip Wire">Trip Wire</a></button></li>
    <li><button class="nav-button"><a routerLink="/card/Snapcaster Mage">Snapcaster Mage</a></button></li>
    <li><button class="nav-button"><a routerLink="/card/Sakura-Tribe Scout">Sakura-Tribe Scout</a></button></li>
  </ul>
</nav>

<br />

<router-outlet></router-outlet>